body{
  background: #243c4b;
}

footer a{
  color: white;
  text-decoration: none;
}

footer {
  text-decoration: none;
  transition: 0.3s ease all;
}

footer:hover {
  max-width: 200%;
  display: block;
  text-decoration: none !important;
  color: yellow;
  margin-left: 10px;
  margin-right: 10px;
  transform: scale(1.1);
}